<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buy.rorys.cubes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".RoryStoryCubesSplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                <activity
            android:label="@string/menu_title"
            android:name=".RoryStoryCubesMenuActivity" >
        </activity>
        <activity
            android:label="@string/help_title"
            android:name=".RoryStoryCubesHelpActivity" >
        </activity>
        <activity
            android:label="@string/setup_title"
            android:name=".RoryStoryCubesSetupActivity" >
        </activity>
        <activity
            android:label="@string/setup_title"
            android:name=".RoryStoryCubesPreferencesActivity" >
        </activity>
        <activity
            android:label="@string/game_title"
            android:name=".RoryStoryCubesGameActivity" >
        </activity>
    </application>

</manifest>